.articleimg {
    cursor: pointer;
    float: left;
    width: 350px;
    height: 350px;
    object-fit: cover;
    position: relative;
}
.articlecontainer {
    width: 80%;
    margin: auto;
}
.magnifier{
    width: 50%;
}

.articleprice {
    position: absolute;
    font-size: larger;
    font-weight: bold;
    background-color: rgb(10, 184, 126);
    bottom: 20%;
    padding: 0.5% 2%;
}

canvas {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.articledescription {
    font-size: larger;
    position: absolute;
    bottom: 14%;
}

.orderbox {
    width: 32%;
    float: right;
}

.setqty {
    padding: 0.25% 2%;
    font-size: large;
    background-color: rgb(243, 16, 213);
    cursor: pointer;
}

.qtycounter {
    font-size: larger;
    margin-left: 5px;
    margin-right: 5px;
}

.orderbtn {
    margin-top: 1%;
    padding: 7px 30px;
    background-color: transparent;
    cursor: pointer;
}

.addtocartbtn {
    padding: 7px 30px;
    margin-top: 1%;
    background-color: transparent;
    cursor: pointer;
}

.gotocart {
    background-color: black;
    margin-top: 1%;
    padding: 5px;
    border: 2px dotted darkgoldenrod;
    font-size: medium;
}

.gotocart:hover {
    background-color: skyblue;
    font-size: larger;
}

.orderbtn:hover,
.addtocartbtn:hover {
    color: white;
    background-color: black;
}

.quantitylabel {
    font-size: larger;
    font-weight: bolder;
    text-decoration: underline;
    margin-bottom: 2%;
}

.size {
    background-color: darkgoldenrod;
}


